In [ ]:
#Q.47) Patterns

#1.
for i in range(1,6):
  for j in range(1,6):
    print(j,end=" ")
  print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [ ]:
#2.
for i in range(1,6):
  for j in range(1,6):
    print(i,end=" ")
  print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [ ]:
#3
for i in range(1,6):
  for j in range(5,0,-1):
    print(j,end=" ")
  print()

5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

In [ ]:
#4
for i in range(5,0,-1):
  for j in range(1,6):
    print(i,end=" ")
  print()

5 5 5 5 5
4 4 4 4 4
3 3 3 3 3
2 2 2 2 2
1 1 1 1 1

In [ ]:
#5
for i in range(1,6):
  for j in range(1,i+1):
    print(chr(120),end=" ")
  print()

x
x x
x x x
x x x x
x x x x x

In [ ]:
#6
for i in range(1,6):
  for j in range(1,6):
    print("x",end=" ")
  print()

x x x x x
x x x x x
x x x x x
x x x x x
x x x x x

In [ ]:
#7
x=1
for i in range(1,6):
  for j in range(1,6):
    print(x,end=" ")
    x+=1
  print()

1 2 3 4 5
6 7 8 9 10
11 12 13 14 15
16 17 18 19 20
21 22 23 24 25

In [ ]:
#8
x=65
for i in range(1,6):
  for j in range(1,6):
    print(chr(x),end=" ")
    x+=1
  print()

A B C D E
F G H I J
K L M N O
P Q R S T
U V W X Y

In [ ]:
#9
x=65
for i in range(1,6):
  for j in range(1,6):
    print((chr(x)),end=" ")
    x+=1
  print()

A B C D E
F G H I J
K L M N O
P Q R S T
U V W X Y

In [ ]:
#10
for i in range(1,6):
  for j in range(1,6):
    print(chr(70-j),end=" ")
  print()

E D C B A
E D C B A
E D C B A
E D C B A
E D C B A

In [ ]:
#11
for i in range(1,6):
  for j in range(1,6):
    print(chr(64+i),end=" ")
  print()

A A A A A
B B B B B
C C C C C
D D D D D
E E E E E

In [ ]:
#12
for i in range(1,6):
  for j in range(1,6):
    print(chr(70-j),end=" ")
  print()

E D C B A
E D C B A
E D C B A
E D C B A
E D C B A

In [ ]:
#13
for i in range(1,6):
  for j in range(1,6):
    print(chr(70-i),end=" ")
  print()

E E E E E
D D D D D
C C C C C
B B B B B
A A A A A

In [ ]:
#14
for i in range(1,6):
  for j in range(1,i+1):
    print(j,end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
#15
for i in range(5,0,-1):
  for j in range(5,i-1,-1):
    print(j,end=" ")
  print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [ ]:
#16
for i in range(1,6):
  for j in range(1,i+1):
    print(i,end=" ")
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
#17
x=5
for i in range(x,0,-1):
  for j in range(x-i+1):
    print(i,end=" ")
  print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [ ]:
#18
for i in range(1,6):
  for j in range(1,i+1):
    print(chr(64+j),end=" ")
  print()

A
A B
A B C
A B C D
A B C D E

In [ ]:
#19
for i in range(1,6):
  for j in range(1,i+1):
    print(chr(70-j),end=" ")
  print()

E
E D
E D C
E D C B
E D C B A

In [ ]:
#20
for i in range(5,0,-1):
  for j in range(1,i+1):
    print(j,end=" ")
  print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
#21
for i in range(5,0,-1):
  for j in range(5,i-1,-1):
    print(j,end=" ")
  print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [ ]:
#22
for i in range(5, 0, -1):
    for j in range(i):
        print(chr(65 + j), end=" ")
    print()

A B C D E
A B C D
A B C
A B
A

In [ ]:
#23
for i in range(5, 0, -1):
    for j in range(i):
        print(chr(64 + i), end=' ')
    print()

E E E E E
D D D D
C C C
B B
A

In [ ]:
#25
for i in range(0,5):
  for j in range(i,5):
    print(chr(65+j),end=" ")
  print()

A B C D E
B C D E
C D E
D E
E

In [ ]:
#26
for i in range(5,0,-1):
  for j in range(i,0,-1):
    print(j,end=" ")
  print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
#27
for i in range(0,6):
  for j in range(i+1,6):
    print(j,end=" ")
  print()

1 2 3 4 5
2 3 4 5
3 4 5
4 5
5

In [ ]:
#28
abc=65
for i in range(1,6):
  for j in range(1,6):
    print(chr(abc),end=" ")
    abc+=1
  print()

A B C D E
F G H I J
K L M N O
P Q R S T
U V W X Y

In [ ]:
#29
for i in range(5):
    for j in range(5):
        if i % 2 == 0:
            print(chr(65 + j), end=' ')
        else:
            print(chr(97 + j), end=' ')
    print()

A B C D E
a b c d e
A B C D E
a b c d e
A B C D E

In [ ]:
#30
abc=65
for i in range(1,6):
  for j in range(1,6):
    print(chr(abc),end=" ")
    abc+=1
  print()

A B C D E
F G H I J
K L M N O
P Q R S T
U V W X Y

In [ ]:
#31
for i in range(1,6):
    for j in range(1,6):
        print((i + j) % 2, end=' ')
    print()

0 1 0 1 0
1 0 1 0 1
0 1 0 1 0
1 0 1 0 1
0 1 0 1 0

In [ ]:
#32
for i in range(1,6):
  for j in range(i,6):
    print(" ",end=" ")
  for k in range(1,i+1):
    print("x",end=" ")
  print()

          x
        x x
      x x x
    x x x x
  x x x x x

In [ ]:
#33
for i in range(1,6):
  for j in range(i,6):
    print(" ",end=" ")
  for k in range(1,i+1):
    print(k,end=" ")
  print()

          1
        1 2
      1 2 3
    1 2 3 4
  1 2 3 4 5

In [ ]:
#34
for i in range(5, 0, -1):
    for j in range(1, i + 1):
        print(j, end=' ')
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
#35
for i in range(1,6):
  for j in range(i,6):
    print(" ",end=" ")
  for k in range(1,i+1):
    print(k,end=" ")
  print()

          1
        1 2
      1 2 3
    1 2 3 4
  1 2 3 4 5

In [ ]:
#37
for i in range(1,6):
  for j in range(i,6):
    print(" ",end=" ")
  for k in range(1,i+1):
    print("x",end=" ")
  print()

          x
        x x
      x x x
    x x x x
  x x x x x

In [ ]:
#38
for i in range(1,6):
    print(i, end=' ')

1 2 3 4 5

In [ ]:
#40
for i in range(5, 0, -1):
    for j in range(5, 5 - i, -1):
        print(j, end=' ')
    print()
for i in range(2, 6):
    for j in range(5, 5 - i, -1):
        print(j, end=' ')
    print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [ ]:
#45
for i in range(1,6):
  for j in range(1,i+1):
    print(j,end=" ")
  print()
for i in range(4, 0, -1):
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
#47
for i in range(1,6):
  for j in range(1,i+1):
    print("x",end=" ")
  print()
for i in range(4, 0, -1):
    for j in range(1, i + 1):
        print("x", end=" ")
    print()

x
x x
x x x
x x x x
x x x x x
x x x x
x x x
x x
x

In [ ]:
#49
for i in range(1, 6):
    print(" " * (i - 1) + str(i))

1
 2
  3
   4
    5

In [ ]:
#50
n = 5
for i in range(1, n + 1):
    print(" " * (n - i) + str(i))

    1
   2
  3
 4
5